<!DOCTYPE html>
<html>
<head>
  {% load static from staticfiles %}
  <link rel="stylesheet/less" href="{% static "style.less" %}">
  <script src="{% static "less.js" %}"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>
<body>
    <header>
        <div class="wrapper">
            <img src="{% static "gfx/logo.png" %}">
            <span>WELCOME</span>
            {% block login %}
            <a href="/">Home</a>
            <a href="/users/">  Public Profiles</a>
            <a href="/users/{{ username }}">  My Profile</a>
            <a href="/game">  Game List</a>
            <a href="/search">  Search</a>
          </body>
            <form action="/logout">
                <input type="submit" class="btn btn-primary" value="Log Out">
            </form>
            {% endblock %}
        </div>
    </header>
    <div id="content">
        <div class="wrapper">
            {% block flash %}
            {% if auth_form.non_field_errors or user_form.non_field_errors or message_form.errors %}
            <div class="flash error">
                {{ auth_form.non_field_errors }}
                {{ user_form.non_field_errors }}
                {{ message_form.content.errors }}
            </div>
            {% endif %}
            {% if notice %}
            <div class="flash notice">
                {{ notice }}
            </div>
            {% endif %}
            {% endblock %}
            {% block title %}
            {% endblock %}
            {% block content %}

            {% endblock %}
        </div>
    </div>
</body>
</html>
