{% extends "base.html" %}

{% block content %}
    <div class="panel right">
        <h1>Update My Status</h1>
        <p>
            <form action="/submit" method="post">
            {% for field in message_form %}{% csrf_token %}
            {{ field }}
            {% endfor %}
            <input type="hidden" value="{{ next_url }}" name="next_url">
            <input type="submit" value="Post">
            </form>
        </p>
    </div>
    <div class="panel left">
        <h1>Public Discussion</h1>
        {% for message in messages %}
        <div class="ribbitWrapper">
            <img class="avatar" src="{{ message.user.profile.gravatar_url }}">
            <span class="name">{{ message.user.first_name }}</span>@{{ message.user.username }}
            <span class="time">{{ message.creation_date|timesince }}</span>
            <p>{{ message.content }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
